p {
    font-size: 1.25em;
}
figcaption, label, input, small {
    font-size: 1em;
}
nav a {
    font-size: 1.5em;
}
h2 {
    text-align: center;
    font-size: 2em;
}

body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 485px;   
}
html{
    
    background-color: #000000;
}
header,h2{
    text-transform:uppercase; 
    text-align:center;
}
h1{
    color: #007d7b;
    background-color: #ffffff;
    text-align:center;
    padding: 5px;
    font-size: 3em;
}
img{
    margin: 0 auto;
    text-align: center;
}
/*navigation*/
  nav li {
    display:inline-flex;

  }
  nav {
    padding:3px;
    background-color:#000000;
  }
  nav a { 
    padding:15px;
    text-decoration:none;
    color: #ffffff;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
}
[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    border-radius:5px 0 0px 0px;
    background-color:rgba(255,255,255,.35);
}
/*images*/
figcaption{
    position:relative;
    top: -270px ;
    text-align:center;
    text-transform: uppercase;
    
}
.bottom-white{
    color:#ffffff;
    position: relative;
    top: -40px;
}
.white{
    color: #ffffff;
}
.top{
    position:relative; 
    top:-260px;
}
.top-2{
    position: relative;
    top: -600px ;
}
.bottom{
    position: relative;
    top:-40px;
}
/* contact part*/
#contact{
    background-color:#000000;
    
}
#contact>h2,#contact>p{
    color:#ffffff;
}
label{
    color: #ffffff;

}
label{
text-transform: uppercase;
padding: 5px;
margin: 6px;

}
input::placeholder{
    color: #007d7b;
    text-transform:uppercase;
    font-weight:bold;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=message]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
 input[type=submit]{
    background-color: #007d7b;
    font-weight:bold;
    text-transform:uppercase;
    border: none;
    color: white;
    margin: 16px 2px;
    cursor: pointer;
   border-radius: 14px;
   padding: 12px 80px; 

}
div{
    text-align: center;
}
figure{
    margin: auto 0;
}
   .gallery h2,.gallery p{
        grid-column: 1/-1;
        
    }
  
/*Footer*/
footer{
    text-align: center;
    color: #ffffff;
    background-color:#000000 ;
    text-transform: uppercase;
}
@media (min-width: 880px) {
    .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr; 
   
    }
    body{
    margin: 0 auto;
    width: 880px;
}
    nav{
    
        width: 880px;
    }



}
@media (min-width: 1300px) {
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
      
        }
        body{
            margin: 0 auto;
            width:1300px;
        }
       nav {
            width: 1300px;
        }
}